{% extends 'base.html.twig' %}

{% block title %}Edit Rapport{% endblock %}

{% block body %}
    <h1>Modifier Rapport</h1>

    {{ include('rapport/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('rapport_index') }}" class="btn btn-default " style="background: #d2959b">return à la liste</a>

    {{ include('rapport/_delete_form.html.twig') }}
{% endblock %}
