{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 0em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #d2959b; padding: 1px 2px; }
    </style>
    <h1>Ajouter votre Rapport</h1>

<div class="example-wrapper">

    {{ include('rapport/_form.html.twig') }}

    <a href="{{ path('rapport_index') }}" class="btn btn-default" style="background: cadetblue">Voir la list</a>
</div>

{% endblock %}
