{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #d2959b; padding: 2px 6px; }
    </style>
    <h1>Ajouter votre Rapport</h1>

<div class=" example-wrapper">
    <div class="input-group ">

    {{ include('rapport/_form.html.twig') }}

    <a href="{{ path('rapport_index') }}" class="btn btn-default">back to list</a>
    </div>
<div
{% endblock %}
