{% extends 'base.html.twig' %}

{% block title %}New Enseignant{% endblock %}

{% block body %}
    <h1>Ajouter un Enseignant</h1>

    <div class="example-wrapper">

    {{ include('enseignant/_form.html.twig') }}

    <a href="{{ path('enseignant_index') }}" class="btn btn-default" style="background: cadetblue">Voir la list des enseignants</a>
</div>
{% endblock %}
