{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <h1>Ajout un Etudiant</h1>


    <div class="example-wrapper">

        {{ include('etudiant/_form.html.twig') }}

        <a href="{{ path('etudiant_index') }}" class="btn btn-default" style="background: cadetblue">Voir la list des etudiants</a>
    </div>
{% endblock %}