{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <h1>Create new Etudiant</h1>

    <form action="" method="post" >

        <fieldset>
            <legend>Ajout Etudiant :</legend>
            <table>
                {{ include('etudiant/_form.html.twig') }}
            </table>
        </fieldset>

        <p>
            <input type="submit" value="Envoyer" />
            <input type="reset" value="Annuler" />
        </p>

    </form>


    <a href="{{ path('etudiant_index') }}" class="btn btn-default">back to list</a>
{% endblock %}