{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <h1>Ajout un Etudiant</h1>


    <form action="" method="post" >
 <div class="wraper">
        <fieldset>

            <table>
                <div class="form-row">
                    <div class="col">
                        {{ include('etudiant/_form.html.twig') }}
                    </div>
                </div>
            </table>
        </fieldset>

 </div>
    </form>


    <a href="{{ path('etudiant_index') }}" class="btn btn-default">back to list</a>
{% endblock %}